{% extends 'base.html' %}
{% block body %}
<div class="inner">
    <div>
    <p style="text-align: center;">
        <b>This is a simple demo of the A.L.F.R.E.D. system</b> <br>
        You are presented with information about a series of space objects. <br>
        For each object, decide whether to investigate it or not. <br>
        You can make up your own rule (e.g. only investigate unkown objects). <br>
        A.L.F.R.E.D. will try to learn your rule and recommend actions by highlighting
        them in green; the greener the action, the more certain A.L.F.R.E.D. is.
    </p>
    </div>
</div>
    <div class="actions">
    <form action="{{ url_for('gui.main', env='space') }}" method="get" id="chooseEnv">
        <button class="btn">Go</button>
    </form>
    </div>
{% endblock %}

{% block debug %}{% endblock %}