{% extends 'base.html' %}
{% block body %}
<div class="state">
<h3>Space Object Info</h3>
{% for s in state %}
<b>{{ s.name }}</b>:&nbsp;<span id="state{{ loop.index }}" class="uk-label">{{ s.get_val_str() }}</span> <br />
{% endfor %}

</div>
<div class="state">
{% for action in actions %}
<button id="action{{ loop.index0 }}" class="action">{{ action }}</button>
{% endfor %}
</div>

<p> Make your own rule (e.g. always investigate Russian objects with velocity deviations above 0.5.)</p>
{% endblock %}

{% block info %}
<!-- This is where I was experimenting with showing the tree image but it's not good -->
<!-- <img src="{{ url_for('static', filename='images/tree_graph.png') }}" alt="Decision Tree graph">-->
{% endblock %}
