{% extends 'base.html' %}
{% block body %}

<div class="inner">
<div style="float: left;">
    <h3>Space Object</h3>
    {% for s in state %}
    <div class="stateVar">
        <b>{{ s.name }}</b>:&nbsp;<span id="state{{ loop.index0 }}" class="uk-label">{{ s.get_val_str() }}</span>
    </div>
    {% endfor %}
    </div>
    <div style="margin: auto;">
     <img id="img" src="" alt="object">
        <script>updateImage("{{ state[1].get_val_str() }}");</script>
</div>
</div>

<div class="actions">
{% for action in actions %}
<button id="action{{ loop.index0 }}" class="action">{{ action }}</button>
{% endfor %}
</div>
{% endblock %}

{% block info %}
{% endblock %}
