html {
  font-family: sans-serif;
  background: #eee;
  padding: 1rem;
}

body {
  max-width: 960px;
  margin: 0 auto;
  background: white;
}

.center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 70px;
}