:root {
  --bg-color: hsl(0, 0%, 17%);
  --bg-color2: hsl(0, 0%, 30%);
  --font-color: hsl(0, 0%, 80%);
}

html {
  font-family: sans-serif;
  color: var(--font-color);
  background-image: url("images/stars.jpg");
  padding: 1rem;
}

h2 {
  margin: 0.2em;
  color: var(--font-color);
}

h3 {
  margin: 0.2em;
  color: hsl(0, 0%, 70%);
  font-size: 24px;
}

body {
  max-width: 700px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0);
}

.center {
  margin: auto;
  width: 100%;
  border: 3px solid black;
  padding: 15px;
  background: var(--bg-color);
  border-radius: 10%;
  overflow: auto;
}

.inner {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  width: 80%;
  border: 1px solid black;
  padding: 10px;
  background: var(--bg-color2);
  border-radius: 3%;
  overflow: hidden;
}

.stateVar {
  margin-left: 8px;
  font-size: 20px;
}

#actions {
  display: flex;
  justify-content: space-evenly;
  overflow: auto;
  margin: auto;
  padding: 10px;
}

.action {
  border: 3px solid hsl(0, 0%, 10%);
  outline: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: green;
  color: white;
  border-radius: 30%;
  transition-duration: 0.2s;
}

.action:hover {
  border: 3px solid rgb(0, 255, 0);
}

.btn {
  background-color: black;
  border: none;
  color: white;
  padding: 11px 14px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30%;
  float: right;
  margin: auto;
  margin-left: 5px;
  outline: none;
}

.btn:hover {
  background-color: rgb(100, 100, 100);
}

.menu {
  padding: 10px;
  width: 82%;
  margin: auto;
}

#alfred {
  font-size: 26px;
  font-family: helvetica;
  letter-spacing: 0.1em;
}

#img {
  width: 260px;
  height:195px;
  border-radius: 10%
}
