<!doctype html>
<head>
    <title>Demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script> $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; </script>
    <script> $ENV = "{{ env }}"; </script>
    <script> $IMAGES = "{{ url_for('static', filename='images') }}"; </script>

    <link rel="stylesheet" href="{{ url_for('static', filename='uikit.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="{{ url_for('static', filename='uikit.min.js') }}"></script>
    <script src="{{ url_for('static', filename='uikit-icons.min.js') }}"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>


</head>

<body>
    <div class="center">
        <div class="menu">
            <span id="alfred"><b>A.L.F.R.E.D.</b></span>
            <a href="{{ url_for('gui.landing') }}">
                <button id="home" class="btn right"><i class="fa fa-home"></i> Home</button>
            </a>
            <a href="{{ url_for('gui.main', env=env) }}">
                <button id="reset" class="btn right"><i class="fa fa-repeat"></i> Reset</button>
            </a>
        </div>
        {% block body %}{% endblock %}
    </div>

    {% block info %}
    {% endblock %}

</body>




