<!doctype html>
<head>
    <title>Demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script> $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; </script>
    <script> $ENV = "{{ env }}"; </script>

    <link rel="stylesheet" href="{{ url_for('static', filename='uikit.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='uikit.min.js') }}"></script>
    <script src="{{ url_for('static', filename='uikit-icons.min.js') }}"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>


</head>

<body>
    <nav><a href="{{ url_for('gui.landing') }}">Home</a></nav>
    <div class="center">
        {% block body %}{% endblock %}
    </div>

    <div class="center">
        <h4> Info </h4>
        {% block info %}
        {% endblock %}
    </div>
</body>




